# Nordic Semiconductor nRF54H20 Radio MCU

# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF54H20_ENG0_CPURAD

config SOC
	default "nRF54H20_CPURAD"

config NUM_IRQS
	default 471

config SOC_TRIM_HSFLL
	default y

config FICR_HSFLL_TRIM_IDX
	# CPURAD operates at 256 MHz
	default 1

config HSFLL_CLOCK_MULTIPLIER
	default 16

endif # SOC_NRF54H20_ENG0_CPURAD
