# Nordic Semiconductor nRFx MCU peripherals list.

# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HAS_HW_NRF_DPPIC
	bool

config HAS_HW_NRF_ECB
	bool

config HAS_HW_NRF_GPIO0
	bool

config HAS_HW_NRF_GPIO1
	bool

config HAS_HW_NRF_GPIOTE
	bool

config HAS_HW_NRF_I2S
	bool

config HAS_HW_NRF_IPC
	bool

config HAS_HW_NRF_LPCOMP
	bool

config HAS_HW_NRF_MPU
	bool

config HAS_HW_NRF_MWU
	bool

config HAS_HW_NRF_NFCT
	bool

# NVMC supports partial erase
config HAS_HW_NRF_NVMC_PE
	bool

config HAS_HW_NRF_PDM
	bool

config HAS_HW_NRF_POWER
	bool

config HAS_HW_NRF_PPI
	bool

config HAS_HW_NRF_QDEC
	bool

config HAS_HW_NRF_QSPI
	bool

config HAS_HW_NRF_RADIO_BLE_CODED
	bool

config HAS_HW_NRF_RADIO_IEEE802154
	bool

config HAS_HW_NRF_SPU
	bool

config HAS_HW_NRF_SWI0
	bool

config HAS_HW_NRF_SWI1
	bool

config HAS_HW_NRF_SWI2
	bool

config HAS_HW_NRF_SWI3
	bool

config HAS_HW_NRF_SWI4
	bool

config HAS_HW_NRF_SWI5
	bool
