# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF54H20PDK_NRF54H20_CPUAPP

config BOARD
	default "nrf54h20pdk_nrf54h20_cpuapp"

endif # BOARD_NRF54H20PDK_NRF54H20_CPUAPP

if BOARD_NRF54H20PDK_NRF54H20_CPURAD

config BOARD
	default "nrf54h20pdk_nrf54h20_cpurad"

endif # BOARD_NRF54H20PDK_NRF54H20_CPURAD
